<section>
    <div class="grid grid--1x2">
        <div class="write-up" data-aos="fade-right">
            <h3 class="name">Auto Tips!</h3>
            <p class="name1">1.  Stick to your car's maintenance schedule as outlined in the owner's manual.</p>
            <p class="name1">2.  Regular maintenance helps prevent major issues and extends the lifespan of your vehicle.</p>
            <p class="name1">3.  Pay attention to warning lights on the dashboard. They can indicate potential problems with the engine, brakes, or other vital components.</p>
            <p class="name1">4.  Regular maintenance helps prevent major issues and extends the lifespan of your vehicle.</p>
        </div>
        <div class="image-content" data-aos="zoom-in-left">
            <img class="image1" src="images/pexels-gustavo-fring-6870324.jpg" alt="">
        </div>
    </div>
</section>