<section>
    <div class="serviceHeader" data-aos="fade-up">
        <h2 id="our-services">FEATURED CARS</h2>
    </div>
    <div class="service-content" data-aos="fade-up">
        <div class="grid1 grid1--1x3">
            <div class="service1" data-aos="zoom-in-left">
                <img src="images/pexels-mike-bird-116675.jpg" alt="">
                <h3>Range Rover  <span class="car1-year">2023</span></h3>
                <h4><span class="seats"><i class="fa-solid fa-user-group"></i>  4 people</span><span class="fuel"><i class="fa-solid fa-bolt"></i>  Petrol</span></h4>
                <h4><span class="gauge"><i class="fa-solid fa-gauge-high"></i>  6.1km / 1-litre</span><span class="automatic"><i class="fa-solid fa-microchip"></i>  Automatic</span></h4>
                <h5><span>hello</span></h5>
                <a href="contactPage.html"><button>Details</button></a>
            </div>
            <div class="service1" data-aos="zoom-in-left">
                <img src="images/pexels-mike-bird-892522.jpg" alt="">
                <h3>BMW  <span class="car2-year">2021</span></h3>
                <h4><span class="seats"><i class="fa-solid fa-user-group"></i>  4 people</span><span class="fuel"><i class="fa-solid fa-bolt"></i>  Petrol</span></h4>
                <h4><span class="gauge"><i class="fa-solid fa-gauge-high"></i>  6.1km / 1-litre</span><span class="automatic"><i class="fa-solid fa-microchip"></i>  Automatic</span></h4>
                <h5><span>hello</span></h5>
                <a href="contactPage.html"><button>Details</button></a>
            </div>
            <div class="service1" data-aos="zoom-in-left">
                <img src="images/pexels-mike-bird-1035108.jpg" alt="">
                <h3>Audi  <span class="car3-year">2022</span></h3>
                <h4><span class="seats"><i class="fa-solid fa-user-group"></i>  4 people</span><span class="fuel"><i class="fa-solid fa-bolt"></i>  Petrol</span></h4>
                <h4><span class="gauge"><i class="fa-solid fa-gauge-high"></i>  6.1km / 1-litre</span><span class="automatic"><i class="fa-solid fa-microchip"></i>  Automatic</span></h4>
                <h5><span>hello</span></h5>
                <a href="contactPage.html"><button>Details</button></a>
            </div>
            <div class="service1" data-aos="zoom-in-left">
                <img src="images/pexels-mike-bird-2365572.jpg" alt="">
                <h3>Mercedez Benz  <span class="car4-year">2024</span></h3>
                <h4><span class="seats"><i class="fa-solid fa-user-group"></i>  4 people</span><span class="fuel"><i class="fa-solid fa-bolt"></i>  Petrol</span></h4>
                <h4><span class="gauge"><i class="fa-solid fa-gauge-high"></i>  6.1km / 1-litre</span><span class="automatic"><i class="fa-solid fa-microchip"></i>  Automatic</span></h4>
                <h5><span>hello</span></h5>
                <a href="contactPage.html"><button>Details</button></a>
            </div>
            <div class="service1" data-aos="zoom-in-left">
                <img src="images/pexels-garvin-st-villier-14277572.jpg" alt="">
                <h3>Lexus  <span class="car5-year">2021</span></h3>
                <h4><span class="seats"><i class="fa-solid fa-user-group"></i>  4 people</span><span class="fuel"><i class="fa-solid fa-bolt"></i>  Petrol</span></h4>
                <h4><span class="gauge"><i class="fa-solid fa-gauge-high"></i>  6.1km / 1-litre</span><span class="automatic"><i class="fa-solid fa-microchip"></i>  Automatic</span></h4>
                <h5><span>hello</span></h5>
                <a href="contactPage.html"><button>Details</button></a>
            </div>
            <div class="service1" data-aos="zoom-in-left">
                <img src="images/pexels-mike-bird-13592330.jpg" alt="">
                <h3>Kia  <span class="car6-year">2022</span></h3>
                <h4><span class="seats"><i class="fa-solid fa-user-group"></i>  4 people</span><span class="fuel"><i class="fa-solid fa-bolt"></i>  Petrol</span></h4>
                <h4><span class="gauge"><i class="fa-solid fa-gauge-high"></i>  6.1km / 1-litre</span><span class="automatic"><i class="fa-solid fa-microchip"></i>  Automatic</span></h4>
                <h5><span>hello</span></h5>
                <a href="contactPage.html"><button>Details</button></a>
            </div>
        </div>
    </div>
</section>