<section>
    <div class="footer">
        <div class="container">
            <div class="footer-section">
                <img class="footer-logo" src="images" alt="">
            </div>
            <div class="footer-section1">
                <a href="index.html">Home</a>
                <a href="aboutPage.html">About</a>
                <a href="#our-services">Services</a>
                <a href="autoTipsPage.html   ">Auto Tips</a>
                <a href="contactPage.html">Contact</a>
            </div>
            <div class="footer-section2">
                <a href=""><i class="fa-brands fa-facebook"></i></a> 
                <a href=""><i class="fa-brands fa-twitter"></i></a> 
                <a href=""><i class="fa-brands fa-instagram"></i></a> 
            </div>
            <div class="copyright">
                <p><i class="fa fa-copyright" aria-hidden="true"></i> 2024 P&E Auto Parts All Rights Reserved.</p>
            </div>
        </div>
    </div>  
</section>