<section>
    <div class="header">
        <div class="container5">
            <b> RevUp Autos :</b>
            <MARquee>
                Rev up your life!&nbsp; <i class="fa-solid fa-car-side"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Rev up your life!&nbsp; <i class="fa-solid fa-car-side"></i>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Rev up your life!&nbsp; <i class="fa-solid fa-car-side"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                Rev up your life!&nbsp; <i class="fa-solid fa-car-side"></i>
            </MARquee>
        </div>
    </div>
</section>