<section>
    <div class="main-section">
        <div class="container-marquee">
            <h2 class="heading">Brands</h2>
            <marquee class="placement" direction="left" scrollamount="10">
                <img src="images/audi.jpeg" class="marquee-logo" alt="">
                <img src="images/bmw1.jpg" class="marquee-logo" alt="">
                <img src="images/ford1.jpg" class="marquee-logo" alt="">
                <img src="images/honda.png" class="marquee-logo" alt="">
                <img src="images/hyundai1.jpg" class="marquee-logo" alt="">
                <img src="images/kia.png" class="marquee-logo" alt="">
                <img src="images/land rover.jpeg" class="marquee-logo" alt="">
                <img src="images/mercedes benz.png" class="marquee-logo" alt="">
                <img src="images/toyota.jpeg" class="marquee-logo" alt="">
                <img src="images/nissan.jpeg" class="marquee-logo" alt="">
                <img src="images/chevrolet.jpeg" class="marquee-logo" alt="">
                <img src="images/jeep1.jpg" class="marquee-logo" alt="">
                <img src="images/acura.png" class="marquee-logo" alt="">
                <img src="images/dodge1.jpg" class="marquee-logo" alt=""> 
            </marquee>
        </div>
       </div>
</section>