<section>
    <div class="main-section">
        <div class="container5">
            <h2 class="heading1" data-aos="fade-up">WHAT OUR CUSTOMERS SAYS ABOUT US</h2> 
            <div class="testimonial" data-aos="fade-right">
                <div class="testimonial-text" >
                    Terrific service!<br>
                    I called on Saturday morning with a blown headlight. 
                    I had the part at a reasonable price for a car which is 
                    cumbersome to find in a short time.
                </div>
                <div class="testimonial-detail">
                    <div class="testimonial-img">
                        <img class="profile-1" src="images/Xandie.png" alt="">
                    </div>
                <div class="testimonial-name">
                    <h5>Mrs. Xandie</h5>
                    <p>Student</p>
                </div>    
            </div>
        </div>
        <div class="testimonial" data-aos="zoom-in-up">
            <div class="testimonial-text">
                Great knowledge, service and pricing.
                I have been looking for an auto-part shop, where I can get all what I need at one place. <br>
                No hassle at all. Very helpful.

            </div>
            <div class="testimonial-detail">
                <div class="testimonial-img">
                    <img class="profile-1" src="images/meryt.png" alt="">
                </div>
            <div class="testimonial-name">
                <h5>Mr. Bentum</h5>
                <p>Car Dealer</p>
            </div>    
        </div>
    </div>
    <div class="testimonial" data-aos="fade-right">
        <div class="testimonial-text">
            I have been struggling to get good and cheaper parts from different shops, 
            but to no avail. I came across your shop and I had the perfect match for my spoilt part
            at a cheaper cost.
        </div>
        <div class="testimonial-detail">
            <div class="testimonial-img">
                <img class="profile-1" src="images/Jude.png" alt="">
            </div>
        <div class="testimonial-name">
            <h5>Mr. Koranteng</h5>
            <p>Accountant</p>
        </div>    
        </div>
    </div>
    </div>
</section>